body {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

img {
    max-width: 100%;
    /* 아무처리도 하지 않은 그림 크기 그대로의 사이즈가 화면에 표시돼있었기 때문에 최대 너비를 설정해 주었다. */
    height: auto;
    display: block;
}

* {
    box-sizing: border-box;
}

a {
    color: $mainOrange;
}
