.page-section {
    border: 1px solid red;
    padding: 1.2rem 0;

    @mixin atMedium {
        padding: 4.5rem 0;
    }

    &--blue {
        background-color: $mainBlue;
        color: #fff;
    }
}
