.wrapper {
    padding-left: 18px;
    padding-right: 18px;
    max-width: 1236px;
    /*
    모든 요소에 box-sizing: border-box;를 적용해 줬기 때문에,
    패딩값 18px+18px을 해준 값을 더해서 1236px이 됐다.
    */
    margin: 0 auto;
    overflow: hidden;

    &--medium{
        max-width: 976px;
    }
    &--no-padding-until-medium {
        padding-left: 0;
        padding-right: 0;

        @mixin atMedium {
            padding-left: 18px;
            padding-right: 18px;
        }
    }
    &--no-padding-until-large {
        padding-left: 0;
        padding-right: 0;

        @mixin atLarge {
            padding-left: 18px;
            padding-right: 18px;
        }
    }
    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }
    &--b-margin {
        border: 1px solid navy;
        margin-bottom: 1rem;
        @mixin atSmall{
            margin-bottom: 3.875rem;
        }
    }
}
